@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* font-color */
  --color-gray-100: oklch(0.9546 0.002 98.24);
  --color-brand-green: oklch(0.7597 0.2321 139.87);
  --color-brand-red: oklch(0.6276 0.3034 27.93);
  --color-brand-warning: oklch(0.777 0.187 83.19);
  ;

  /* font-size */
  --text-extrasmall: 0.625rem;

  /* box shadow */
  --shadow-custom: rgba(0, 0, 0, 100) 4.2px 4.2px 0.2px; 

}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}
